.skillbar-title span {
    display: block;
    background: none;
    height: 35px;
}
.skillbar-title{background: none !important;}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */